# Node / TS
node_modules/
dist/
build/
*.log
.env
.env.*
!.env.example

# Go
bin/
*.exe
*.out
*.test
coverage/
main

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

#md playground
test.md

# Binaries
task-tracker-cli-go
task-tracker-cli-go.exe
task-cli
*.exe

# Go build artifacts
/bin/
/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db